@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #E76F51;
}

body {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: 700;
}

#search_value {
    margin-bottom: 10px;
}

body {
    background-image: url('background.jpg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.btn {
    border-radius: 20px;
    background-color: #E76F51;
}
input {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    /*margin: 0;*/ /*外边距设为0*/
    /*text-decoration: none;*/ /*去掉下划线，为了支持<a>标签*/
    /*float: left;*/ /*向左浮动*/
}