@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome to Cat World</h1>
</div>

<body>
    <div class="container">
        @*@foreach(var ft in Model.Fact)
            {
                <h4>Fact:@ft.text</h4>
            }*@
        <h4>Fun Fact:</h4>
    </div>
</body>