@page
@model CloudComputingAllAboutCat.Pages.FactPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fact.FactText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fact.FactText)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Fact.FactID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
