@page
@model CloudComputingAllAboutCat.Pages.Facts.SearchModel
@{
}


<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<form id="searchForm" method="post">
    <p>Search dog facts here:</p>
    <input type="text" name="searchValue" id="search_value" />
    <input type="submit" value="search" id="search" />
</form>

<p>Matched records: </p>