@page
@model CloudComputingAllAboutCat.Pages.Facts.SearchModel
@{
}


<form id="searchForm" method="post">
    <p>Search cat facts here:</p>
    <input type="text" name="searchValue" id="search_value" />
    <input type="submit" value="search" id="search" />
</form>

<p>Matched records: </p>