@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Amazing Facts About Dogs You Probably Didn't Know</p>
</div>
